<div ng-controller="setupController">
    <div>
        <div>
            <label>Data:</label>
            <input type="file" ng-model="positionalData"/>
        </div>
        <div>
            <label>Game:</label>
            <select ng-model="gameType" ng-options="g for g in gameTypes" ng-change="changeGameType()"></select>
        </div>        
        <div>
            <label>Ground:</label>
            <select ng-model="ground" ng-options="g.Name for g in grounds" ng-change="changeGround()"></select>
        </div>
        <div>
            <label>Centre Longitude:</label>
            <input type="text" ng-model="ground.CentreLongitude" />
        </div>
        <div>
            <label>Centre Latitude:</label>
            <input type="text" ng-model="ground.CentreLatitude" />
        </div>
        <div>
            <label>Height:</label>
            <input type="text" ng-model="ground.Height" />
        </div>
        <div>
            <label>Width:</label>
            <input type="text" ng-model="ground.Width" />
        </div>
        <div>
            <label>Padding:</label>
            <input type="text" ng-model="ground.Padding" />
        </div>
        <div>
            <label>Rotation:</label>
            <input type="text" ng-model="ground.Rotation" />
        </div>
    </div>
</div>